* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'HanaleiFill-Regular';
  src: url("../fonts/HanaleiFill-Regular.woff"); }
@font-face {
  font-family: 'playfairdisplay-variablefont';
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff"); }
@font-face {
  font-family: 'playfairdisplay-variablefont2';
  src: url("../fonts/playfairdisplay-variablefont_wght-webfont.woff2"); }
.container-grid .food-1, .container-grid .food-2, .container-grid .food-3, .container-grid .food-4 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px; }

.main-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  width: 100%; }
  .main-head #logo img {
    max-width: 100px; }
  .main-head nav ul {
    list-style: none;
    display: flex;
    gap: 20px; }
    .main-head nav ul li a {
      text-decoration: none;
      color: #807e7e;
      font-size: 18px;
      color: #807e7e;
      font-weight: 600;
      transition: all 0.3s 0s ease;
      font-family: 'playfairdisplay-variablefont', sans-serif; }
      .main-head nav ul li a:hover {
        color: #000; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px; }
  .hero h1 {
    font-size: 48px;
    margin: 20px 0; }
  .hero p {
    text-align: center;
    margin: 0 0 20px 0;
    color: #807e7e;
    font-size: 18px;
    font-family: 'playfairdisplay-variablefont', sans-serif;
    font-weight: 500; }
  .hero .linea {
    background-color: #807e7e;
    width: 550px;
    height: 3.5px;
    margin: 0 0 30px 0; }
  .hero h2 {
    font-size: 2rem;
    margin: 0 0 20px 0;
    font-weight: 900;
    font-family: 'playfairdisplay-variablefont2', sans-serif; }

.container-grid {
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  .container-grid .food-item {
    height: 350px;
    margin: 5px;
    position: relative;
    transition: filter 0.3s ease; }
    .container-grid .food-item p {
      position: absolute;
      z-index: 1;
      opacity: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease; }
      .container-grid .food-item p:hover {
        opacity: 1;
        cursor: pointer;
        background-color: rgba(9, 0, 0, 0.7); }
  .container-grid .food-1 {
    background-image: url("../images/1.jpg"); }
  .container-grid .food-2 {
    background-image: url("../images/2.jpg"); }
  .container-grid .food-3 {
    background-image: url("../images/3.jpg"); }
  .container-grid .food-4 {
    background-image: url("../images/4.jpg"); }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; }
  footer p {
    color: #807e7e;
    font-family: 'playfairdisplay-variablefont2', sans-serif;
    font-weight: 500;
    font-size: 1.2rem; }
    footer p a {
      text-decoration: none;
      color: #807e7e;
      transition: all 0.3s 0s ease; }
      footer p a:hover {
        color: #000;
        text-decoration: underline; }

@media (min-width: 0) and (max-width: 499px) {
  .wrapper {
    width: 100%; }

  .main-head {
    flex-direction: column;
    text-align: center; }

  nav {
    margin-top: 30px; }
    nav ul {
      flex-direction: column;
      gap: 30px; }

  main {
    width: 100%; }

  .hero h1 {
    font-size: 2rem; }
  .hero p {
    font-size: 1rem;
    text-align: justify; }
  .hero .linea {
    width: 100%; }
  .hero h2 {
    font-size: 1.5rem; }

  .container-grid {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr); }
    .container-grid .food-item p {
      text-align: center; }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px; }
    footer p {
      color: #807e7e;
      font-family: 'playfairdisplay-variablefont2', sans-serif;
      font-weight: 500;
      font-size: 10px;
      text-align: center; }
      footer p a {
        text-decoration: none;
        color: #807e7e;
        transition: all 0.3s 0s ease; }
        footer p a:hover {
          color: #000;
          text-decoration: underline; } }
@media (min-width: 500px) and (max-width: 724px) {
  .wrapper {
    width: 100%; }

  .main-head {
    flex-direction: column;
    text-align: center; }
    .main-head nav {
      margin-top: 30px; }
      .main-head nav ul {
        gap: 30px; }

  main {
    width: 100%;
    padding: 0 20px; }

  .hero .linea {
    width: 100%; }

  .container-grid {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr; }
    .container-grid .food-item p {
      text-align: center;
      padding: 0 20px; }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px; }
    footer p {
      text-align: center; } }
@media (min-width: 725px) and (max-width: 1024px) {
  .wrapper {
    width: 100%; }

  .main-head {
    flex-direction: column;
    text-align: center; }
    .main-head nav {
      margin-top: 30px; }
      .main-head nav ul {
        gap: 30px; }

  main {
    width: 100%; }

  .container-grid {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr; }
    .container-grid .food-item p {
      text-align: center;
      padding: 0 20px; }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px; }
    footer p {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
