// Global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Fonts
@font-face {
    font-family: 'HanaleiFill-Regular';
    src: url('../fonts/HanaleiFill-Regular.woff');
}

@font-face {
    font-family: 'playfairdisplay-variablefont';
    src: url('../fonts/playfairdisplay-variablefont_wght-webfont.woff');
}

@font-face {
    font-family: 'playfairdisplay-variablefont2';
    src: url('../fonts/playfairdisplay-variablefont_wght-webfont.woff2');
}

// Variables
$font-solo: rgb(128, 126, 126);

// block

%img-style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Wrapper
.wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

// Main header
.main-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;

    #logo {
        img {
            max-width: 100px;
        }
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                a {
                    text-decoration: none;
                    color: $font-solo;
                    font-size: 18px;
                    color: $font-solo;
                    font-weight: 600;
                    transition: all 0.3s 0s ease;
                    font-family: 'playfairdisplay-variablefont', sans-serif;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
}

// main (section) style

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    h1 {
        font-size: 48px;
        margin: 20px 0;
    }
    p {
        text-align: center;
        margin: 0 0 20px 0;
        color: $font-solo;
        font-size: 18px;
        font-family: 'playfairdisplay-variablefont', sans-serif;
        font-weight: 500;
    }
    .linea {
        background-color: $font-solo;
        width: 550px;
        height: 3.5px;
        margin: 0 0 30px 0;
    }
    h2 {
        font-size: 2rem;
        margin: 0 0 20px 0;
        font-weight: 900;
        font-family: 'playfairdisplay-variablefont2', sans-serif;
    }
}

.container-grid {
    width: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .food-item {
        height: 350px;
        margin: 5px;
        position: relative;
        transition: filter 0.3s ease;
        p {
            position: absolute;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
            &:hover {
                opacity: 1;
                cursor: pointer;
                background-color: rgba(9, 0, 0, 0.7);
            }
        }
    }
    .food-1 {
        background-image: url('../images/1.jpg');
        @extend %img-style;
    }
    .food-2 {
        background-image: url('../images/2.jpg');
        @extend %img-style;
    }
    .food-3 {
        background-image: url('../images/3.jpg');
        @extend %img-style;
    }
    .food-4 {
        background-image: url('../images/4.jpg');
        @extend %img-style;
    }
}

// footer style

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    p {
        color: $font-solo;
        font-family: 'playfairdisplay-variablefont2', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
        a {
            text-decoration: none;
            color: $font-solo;
            transition: all 0.3s 0s ease;
            &:hover {
                color: #000;
                text-decoration: underline;
            }
        }
    }
}

// Responsive styles
// Mobile
@media (min-width: 0) and (max-width: 499px) {
    // main head
    .wrapper {
        width: 100%;
    }
    .main-head {
        flex-direction: column;
        text-align: center;
    }
    nav {
        margin-top: 30px;
        ul {
            flex-direction: column;
            gap: 30px;
        }
    }
    // main style
    main {
        width: 100%;
    }

    .hero {
        h1 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
            text-align: justify;
        }
        .linea {
            width: 100%;
        }
        h2 {
            font-size: 1.5rem;
        }
    }

    .container-grid {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        .food-item {
            p {
                text-align: center;
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        p {
            color: $font-solo;
            font-family: 'playfairdisplay-variablefont2', sans-serif;
            font-weight: 500;
            font-size: 10px;
            text-align: center;
            a {
                text-decoration: none;
                color: $font-solo;
                transition: all 0.3s 0s ease;
                &:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
    }
}

// iphat

@media (min-width: 500px) and (max-width: 724px) {
    .wrapper {
        width: 100%;
    }

    .main-head {
        flex-direction: column;
        text-align: center;

        nav {
            margin-top: 30px;
            ul {
                gap: 30px;
            }
        }
    }
    main {
        width: 100%;
    }
    .container-grid {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        .food-item {
            p {
                text-align: center;
                padding: 0 20px;
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        p {
            color: $font-solo;
            font-family: 'playfairdisplay-variablefont2', sans-serif;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            a {
                text-decoration: none;
                color: $font-solo;
                transition: all 0.3s 0s ease;
                &:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
    }
}
// Macbook
@media (min-width: 725px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }

    .main-head {
        flex-direction: column;
        text-align: center;
        nav {
            margin-top: 30px;
            ul {
                gap: 30px;
            }
        }
    }

    main {
        width: 100%;
    }
    .container-grid {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 1fr;
        .food-item {
            p {
                text-align: center;
                padding: 0 20px;
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        p {
            color: $font-solo;
            font-family: 'playfairdisplay-variablefont2', sans-serif;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            a {
                text-decoration: none;
                color: $font-solo;
                transition: all 0.3s 0s ease;
                &:hover {
                    color: #000;
                    text-decoration: underline;
                }
            }
        }
    }
}
